body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}



p {
    text-align: justify;
}

.container {
    display: flex;
}

.sidebar {
    background-color:#327fa8;
    color: #fff;
    width: 250px;
    padding: 20px;
}



.sidebar>.foto{
    margin: 0 auto;
    width: 130px;
    height: 174px;
    border: 1px solid white;
}
.sidebar>.line{
    margin: 0 auto;
    width: 70%;
    height: 2px;
    background-color: white;
    margin-top: 30px;
}

.sidebar h2{
    text-transform: uppercase;
    margin-left: 38px;
    margin-top: -1px;
    font-size: 18px;
}

.sidebar ul {
   
    text-align: center;
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
    font-size: 15px;
    text-align: left;
    padding: 10px;
}



.main-content {
    flex: 1;
    padding: 20px;
}

header {
    text-align: center;
}
header h1{
    color: #327fa8;
}
header >.line{
    width: 100%;
    margin: 0 auto;
    height: 3px;
    background-color: black;
}

main {
    margin-top: 20px;
}

main >.about{
    padding: 20px;
}

main >.about h2{
    padding-left: 100px;
}

main >.about >.line{
    background-color: black;
    height: 3px;
    width: 100%;
    margin: 0 auto;
}

main >.about h3{
    padding-left: 90px;
    margin-top: 1px;
    text-transform: uppercase;
}

.about ul li{
    list-style: none;
}

.about ul li h6{
    color: gray;
    font-weight: bold;
    font-size: 20px;
    padding-left: 50px;

}

.about ul li h5{
    color: gray;
    font-weight: bolder;
    font-size: 16px;
    padding-left: 50px;
    margin-top: -40px;

}
.about ul li p{
    color: gray;
   
    font-size: 16px;
    padding-left: 50px;
    margin-top: -20px;

}


#atual{
    float: right;
    margin-top: 30px;
    color: gray;
    font-weight: bolder;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}